$top: #eef1f3;
$blue: #0674ec;
$dark-grey: #7c7979;
$bg-grey-1: #eff1f5;
$bg-grey-2: #f6f7fb;
$purple: #7347c1;
$bg-dark: #212225;
$footer: #262b30;
$bottom: #192027;
$font: #555555;
$font-menu: #333333;
$font-bottom: #999999;
$font-footer: #ababab;
