@import "vars";
@import "global";
@import "fonts";

.regular {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}

.medium {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

.bold {
  font-family: "Quicksand-Bold", sans-serif;
  font-weight: 700;
}
